; C0114 - 缺少模块级文档字符串
; C0115 - 缺少类级文档字符串
; W1203 - 日志字符串格式化
; W0718 - :broad-exception-caught
; W1203 -logging-fstring-interpolation
; W0613 - Unused argument 'client':unused-argument
[MESSAGES CONTROL]
disable=C0114, C0115, C0116, W0718, C0303,C0304,C0301,W1203,W0613